<!DOCTYPE html>
<html lang="en">
<head>
 {{>headerlinks}}

</head>
<body>
   {{>navbar}}

    <div class="container-fluid">
        <h1 style="text-align:center">{{adderror}}</h1>
        <div style="display:flex;justify-content:center"><a href="/" class="btn btn-danger" >Back to Homepage</a></div>
        <img src="/image/error.jpg " class="erimg" alt="errpage" >
    </div>
 
    {{>footers}}
</body>
</html>